

.vic {
    color: #0e77df;
}

.leader_board {
    background: white;
    /*border: solid;*/
    width: 450px;
    height: 600px;
    position: absolute;
    top: calc(50% - (600px / 2));
    left: calc(50% - (450px / 2));
    zoom: 110%;

}

.three_people {
    width: 100%;
    height: 250px;
    /*position: static;*/
}

.name_elipsis {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.5em;
    width: 100px;
    white-space: nowrap
}

.name_elipsis_2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 15px;

    margin-top: 2px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    width: 200px;
    white-space: nowrap
}

.vic_1st {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 5px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 150px;
}

.vic_1st > .user_icon {
    width: 120px;
    border-radius: 50%;
}

.secondary_bagde {
    display: flex;
    flex-direction: row;
}
.secondary_bagde > img {
    width: 15px;
}

.vic_2nd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    left: 55px;
    top: 70px;
    right: 0;
    width: 150px;
}

.not_finished {
    /*display: none;*/
    height: 35px;
    padding-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.not_finished > img {
    width: 20px;
}

.vic_2nd > .user_icon {
    width: 100px;
    border-radius: 50%;
}

._2nd_place {
    height: 35px;
}

.vic_3rd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    left: calc(100% - 150px - 55px);
    top: 70px;
    right: 0;
    width: 150px;
}

.vic_3rd > .user_icon {
    width: 100px;
    border-radius: 50%;
}

._3rd_place {
    /*display: none;*/
    height: 35px;
}

.list_user {
    margin: auto;
    width: 100%;
    height: fit-content;
    /*background: gray;*/
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 25px;
}

/*flip 01*/
.list_user > .user_f01 {
    background: #ECEFF1;
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

/*flip 02*/
.list_user > .user_f02 {
    background: #E0E0E0;
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.list_user .num_order {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    width: 25px;
    height: 25px;
}

.list_user .icon {
}

.list_user .icon > img {
    height: 30px;
    border-radius: 50%;
}

.list_user .name {

}

.list_usr_01 {}
.list_usr_02 {}
.list_usr_03 {}
.list_usr_04 {}

.sta_name {}
.sta_userIcon {}
.sta_state {}
.sta_notFinished {
    /*display: none;*/
}
.sta_finished {
    display: block;
    display: none;
}